<template>
  <div class="hello" v-mydirective="'Hello from mydirective'">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>
